body {
    background-color: #222222;
    background: repeating-linear-gradient(
        45deg,
        #1e1553 0%,
        #3d0a0a 10%,
        #222222 0%,
        #222222 50%
      )
      0 / 15px 15px;
  }
  body {
    background-color: #222222;
    background: repeating-linear-gradient(
        69deg,
        #2b2b2b 0%,
        #2b2b2b 10%,
        #222222 0%,
        #222222 50%
      )
      0 / 15px 15px;
  }
  
  #container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  /*Neon*/
  a {
    text-align: center;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
  }
  
  a:nth-child(1) {
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  a:nth-child(2) {
    font-family: Iceland;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  
  /*glow*/
  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px rgb(255, 255, 255), 0 0 30px #fff, 0 0 40px #48ff00,
        0 0 70px #48ff00, 0 0 80px #48ff00, 0 0 100px #48ff00, 0 0 150px #48ff00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #48ff00,
        0 0 35px #48ff00, 0 0 40px #48ff00, 0 0 50px #48ff00, 0 0 75px #48ff00;
    }
  }
  
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
        0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
        0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
  }
  
  /*Make stuff responsive*/
  
  @media (max-width: 650px) {
    p {
      font-size: 3.5em;
    }
  }
  
  